body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .main-layout {
    display: flex;
    height: 95vh;
  }
  
  #map {
    flex: 3;
    height: 100%;
    border-radius: 2vh;
    margin: 1vh;
  }
  
  .side-panel {
    flex: 2;
    padding: 1rem;
    overflow-y: auto;
    background: #ffffff;
  }
  
  .tabs {
    margin-bottom: 2px;
    padding: 2px;
  }
  
  .tabs button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }

  .tab-content ul{
    list-style: none;
    list-style-type: none;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .dzialka-label div {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px white;
    pointer-events: none;
  }
  
  button, input button {
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  @media (max-width: 1200px) {
    #map {
        width: 98%;
        height: 50vh;
        border-radius: 2vh;
        margin: 1vh;
      }

      .main-layout {
        display: block;
        height: 95vh;
      }

      
      .side-panel {
        padding: 1rem;
        width: 98%;
        height: 50vh;
        background: #ffffff;
      }
  }